################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/Simple-Procedural-Terrain.sln
/Packages
/obj/Debug
/Logs
/Library
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/.vs/Simple-Procedural-Terrain/v16/TestStore/0
